# Copy these into your shell before running ./server. All paths are relative
# to the server/ directory (or set PKI_ROOT to point elsewhere).

PKI_ROOT=..
CA_CERT=../certs/ca/ca.crt
SERVER_CERT=../certs/issued/backend-server/backend-server.crt
SERVER_KEY=../certs/issued/backend-server/backend-server.key
PKI_DB=../data/pki.db
LISTEN_ADDR=:4433
